.adstera-ads1 {
    position: fixed;
    left: 0;
    top: 210px;
    z-index: -5;
}
.adstera-ads2 {
    position: fixed;
    top: 210px;
    right: -161px;
    z-index: -5;
}
.adstera-ads3 {
    position: fixed;
    top: 580px;
    left: 0;
    z-index: -5;
}
.adstera-ads4 {
    position: fixed;
    top: 286px;
    left: 13px;
    z-index: -5;
}
.adstera-ads5 {
    position: fixed;
    top: 700px;
    left: 0;
    z-index: -5;
}
.adstera-ads6 {
    position: fixed;
    top: 250px;
    right: -161px;
    z-index: -5;
}