*{
    margin: 0;
    padding: 0;
}
.scroll-up-btn {
    position: fixed;
    right: 7px;
    bottom: 100px;
    font-size: 25px;
    display: none;
    background: #E91E63;
    padding: 2px 5px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    z-index: 9999 !important;
}
.scroll-up-btn.show{
    display: block !important;
}
nav {
    background: black;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 999 !important;
    cursor: pointer;
}
span.easy-logo {
    color: #fff;
    font-size: 25px;
    font-family: system-ui;
    font-weight: 700;
    cursor: pointer;
}
span.earn-logo{
    color: crimson;
}
span.earn-logo.logo {
    color: #fff;
}
.nav {
    display: flex;
    width: 80%;
    margin: -8px auto;
    padding-bottom: 3px;
    align-items: center;
    justify-content: space-between;
}
nav.sticky {
    background: crimson;
    border-bottom: 1px solid #fff;
}
.menu {
    display: flex;
    align-items: center;
}
.onPC {
    display: flex;
    align-items: center;
}

.profile-min {
    display: flex;
    text-align: right;
    align-items: center;
    margin-top: 12px;
}
.menu a {
    text-decoration: none;
    color: rgb(241, 241, 241);
    font-size: 20px;
    margin: 5px;
}
.subMenu {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
}

.onPC span {
    margin: 5px 5px 0px 5px;
    font-size: 20px;
    color: #fff;
}
span.Logout ,span.balance{
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    font-family: system-ui;
}
img#profilePick {
    width: 60px;
    height: 60px;
    border: 1px solid crimson;
    border-radius: 50%;
    margin-left: 15px;
}
/***********one mobile phone menu************/
i#onMobileMenusideBar {
    color: #fff;
    margin-left: 16px;
    font-size: 15px;
}

/***********profile update************/
div#profileUpdate form ,div#from-widrow form,div#from-Affilate form{
    width: 92%;
    background: crimson;
    padding: 20px;
    margin: 45px auto;
}
.profile-update {
    display: flex;
    justify-content: space-around;
}
.profile-1 ,.profile-2{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.profile-1 label input,.profile-2 label input {
    margin: 5px;
}
.profile-1 label ,.profile-2 label{
    margin: 10px;
}
input#name,input#uname,input#reffarelCode,input#email,input#number,input#password{
    margin-left: 15px;
    padding: 2px;
    outline: none;
}
img#select-img {
    width: 150px;
}
.profile-pick-edite {
    position: relative;
    cursor: pointer;
}
.profile-pick-edite label {
    position: absolute;
    cursor: pointer;
    top: 45%;
    left: 37%;
    background: crimson;
    padding: 2px 4px;
    color: #fff;
    font-family: system-ui;
    border-radius: 3px;
}
.profile-button {
    display: flex;
    justify-content: flex-end;
}
input#Update {
    padding: 4px 15px;
    background: green;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
}
input#cancel {
    color: red;
    padding: 4px 8px;
    margin-left: 25px;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
}
input#input-img {
    width: 100%;
    height: 157px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
/***********widhrow form************/
div#from-widrow form {
    display: flex;
    flex-direction: column;
}
div#from-widrow form input {
    margin: 5px;
    font-size: 20px;
    padding: 3px;
    outline: none;
}
select#paymentMethod {
    width: 99%;
    margin: auto;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
span#checkBox ,span.minimum,span.refarel{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
input#widrow-submit {
    cursor: pointer;
}
/***********widhrow history************/
.history {
    height: 554px !important;
    cursor: default;
    overflow-x: hidden;
    background: #fff;
    padding: 14px;
    border-radius: 3px;
    box-shadow: 0px 8px 18px -1px black;
}
img#img{
    cursor: pointer;
    position: relative;
    border: 1px solid crimson;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.hstProfile {
    display: flex;
    align-items: center;
    width: 97%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    margin: 8px 0;
    justify-content: space-between;
    align-items: center;
}
.widrowButton {
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    background: rgb(245, 178, 35);
    color: rgb(255, 255, 255);
}
div#Paid {background: #42c142;}

div#Rejected {
    background: #ff4040;
}
button#pendding,button#paid {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #3c3b3bb5;
    margin: 3px;
    cursor: pointer;
}

.time {
    margin-left: 76px;
    margin-top: -15px;
}

.date {
    margin-left: 75px;
    margin-top: 15px;
}
span.\.userActive {
    width: 10px;
    height: 10px;
    background: #0dd767;
    position: absolute;
    top: 36px;
    left: 28px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.minimum.active,.refarel.active,.refarel-link.active,.alaert.active{
    color: #60e560 !important;
}
.chack.active {
    display: none !important;
}
.aleart{
    display: none;
}
span.alaert {
    background: #fff;
    font-size: 20px;
    padding: 3px;
    text-align: center;
    font-family: system-ui;
    width: 98%;
    margin: auto;
    color: red;
}
/***********reffarel code************/
span.Refarel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-family: cursive;
    margin: auto;
}
/***********aoute************/
div#aoute {
    margin:50px auto;
    width: 76%;
    font-size: 20px;
    font-family: system-ui;
}
.aboute-heade {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
/***********footer************/
footer {
    background: crimson;
    width: 100%;
}
.footer{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.social-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
}
span.All-rights {
    color: #fff;
    font-family: sans-serif;
    font-weight: 900;
}






@media only screen and (max-width:1300px){
    body::-webkit-scrollbar{
        width: 0;
    }
    nav{
        height: 56px;
    }
    .menu{
        margin-top: 12px;
    }
    .menu .logo a span {
        font-size: 20px;
        font-weight: 900;
    }
    .subMenu{
        display: none;
    }
    span.easy-logo,span.balance{
        font-size: 15px;
    }
    img#profilePick{
        width: 45px;
        height: 45px;
    }
    i#onMobileMenusideBar{
        display: block !important;
        z-index: 999 !important;
    }

    /******onMobileMenu******/
    .onMobileMenu {
        width: 30%;
        height: 600px;
        color: #fff;
        background: #ff3939;
        display: flex;
        flex-direction: column;
        padding: 15px;
        position: relative;
        top: 6%;
        z-index: 999 !important;
    }
    .onMobileMenu a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-family: system-ui;
    }
    .onMobileMenu span {
        font-size: 20px;
    }
    i#onMobileMenusideBarCloase {
        position: absolute;
        right: 4px;
        top: 2px;
        font-size: 20px;
    }

    @media only screen and (max-width:420px){
        .nav{
            width: 98%;
        }
        .menu{
            flex-direction: column;
            align-items: center;
        }
        span.easy-logo,span.balance{
            font-size: 12px;
        }
        a.SignUp ,a.Login{
            font-size: 12px;
        }
        marquee {
            font-size: 12px !important;
            margin-top: 60px !important;
        }

        div#profileUpdate form ,div#from-widrow form,div#from-Affilate form {
            width: 126%;
            background: crimson;
            position: relative;
            left: -42px;
        }
        div#from-widrow form input{
            width: 85%;
        }
        input#widrow-submit {
            width: 87% !important;
        }
        div#history {
            width: 117%;
            margin-left: -40px;
        }
        .name-email {
            font-size: 10px;
            margin-left: 3px;
        }
        .date-time .date,.date-time .time{
            margin-left: 0 !important;
            margin-top: 15px;
            font-size: 10px;
        }
        .widrowButton,.amount {
            padding: 1px;
            font-size: 10px;
        }
        span.Refarel{
            font-size: 11px;
            justify-content: space-around;
            margin: 0 35px;
        }
        .profile-update {
            display: flex;
            justify-content: space-around;
        }
        .profile-1 ,.profile-2{
            display: flex;
            flex-direction: column;
            width: 30%;
            font-size: 10px;
        }
        .profile-1 label input,.profile-2 label input {
            margin: 5px;
        }
        .profile-1 label ,.profile-2 label{
            margin: 10px;
        }
        input#name,input#uname,input#reffarelCode,input#email,input#number,input#password{
            padding: 2px;
            outline: none;
            font-size: 10px;
            margin-left: -1px;
        }
        img#select-img {
            width: 100px;
        }
        .profile-pick-edite {
            position: relative;
            cursor: pointer;
            height: 105px;
        }
        .profile-pick-edite label {
            position: absolute;
            cursor: pointer;
            top: 40%;
            left: 30%;
            background: crimson;
            padding: 2px 4px;
            color: #fff;
            font-family: system-ui;
            border-radius: 3px;
        }
        .profile-button {
            display: flex;
            justify-content: flex-end;
            margin-right: 45px;
        }
        input#Update {
            padding: 4px 15px;
            background: green;
            color: #fff;
            outline: none;
            border: 1px solid #fff;
            border-radius: 3px;
            cursor: pointer;
        }
        input#cancel {
            color: crimson;
            padding: 4px 8px;
            margin-left: 25px;
            border: 1px solid #fff;
            border-radius: 3px;
            cursor: pointer;
        }
        input#input-img {
            width: 100%;
            height: 100%;
            position: absolute;
            cursor: pointer;
            opacity: 0;
        }

        .footer{
            flex-direction: column;
        }
        span.All-rights{
            font-size: 12px;
        }

        /**********login********/
        form.signup{
            width: 70%;
        }
        form label{
            width: 80%;
        }
        label input{
            font-size: 10px;
        }
        input#submit{
            width: 80%;
            padding: 3px;
        }
    }
    
}
/***********walpayper************/
img#walpayper {
    width: 100%;
    display: flex;
    margin: auto;
    padding: 105px 0;
    text-align: center;
}
/***********container************/
.container {
    width: 80%;
    margin: auto;
}
.social-links a img {
    width: 45px;
    height: 45px;
    border: 1px solid red;
    border-radius: 50%;
}

.opacity{
    opacity: 0;
    transition: all ease .5s;
}
.onMobileMenu.active{
    display: none;
}
