body.them{
    background: #565656 !important;
}
nav.them{
    border: 1px solid #fff !important;
    border-radius: 3px !important;
    color: #fff !important;
}
a.home.them,span.Affilate-now a.them,a span.them{
    color: #fff !important;
}
.profile-viw.them {
    background: #2c2c2c !important;
}
.profile-ditels.them,span.Widrow-now.them, .my-post.them, span.history-now.them, .Signout.them, .mode.them{
    color: black !important;
}
.postShow.them{
    background: #2c2c2c !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}
.postItems.them{
    background: #2c2c2c !important;
}
.mypostItems.them,.side-post,i#post-cancel,span.checkboxed{
    background: #2c2c2c !important;
    color: #fff !important;
}
.from-widrow form.them{
    background: #2c2c2c !important;
}
.from-widrow form span.them{
    color: #fff !important;
}
.history.active.them{
    background: #2c2c2c !important;
    color: #fff !important;
}
.hstProfile.them{
    border: 1px solid #fff !important;
    background: #121212 !important;
}
div#aoute.them {
    color: #e9e9e9;
}