span.All-Users-Active ,span.All-Users-show{
    margin: auto;
    text-align: center;
    display: block;
    padding: 8px 0;
    font-size: 20px;
    font-weight: bold;
}
.allUsers ,.allUsersActive{
    background: #efefef;
    height: 326px;
    overflow: auto;
    position: absolute;
    top: 500px;
    width: 83%;
    z-index: 99;
}
.allUsers {
    top: 850px;
}
.top-customer-latestorder {
    position: relative;
    top: 670px;
}
.allUsers::-webkit-scrollbar,.allUsersActive::-webkit-scrollbar{
    width: 0;
}
img#img{
    width: 75px;
    height: 75px;
    border: 1px solid #444444;
    border-radius: 50%;
}
.allUsersProfile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    position: relative;
}
span.active-cercle1 {
    width: 15px;
    height: 15px;
    background: #d3d3d3;
    border: 1px solid #898989;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: 59px;
}
span.active-cercle2 {
    background: #19ff35;
}
.name-email,.status-usersmass{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}
span.usermass{
    background: green;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.UserIp {
    background: #000;
    color: #0eff0e;
    padding: 5px;
}
.status-usersmass.active,.ms.active{
    display: none;
}
.ms {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 50px;
}
input#user-ms,input#send-button {
    outline: none;
    border: 1px solid red;
    border-radius: 2px;
    width: 100%;
    padding: 3px;
}
input#send-button {
    width: 30%;
    border: 1px solid #0ec96a;
    color: red;
    cursor: pointer;
}

span.Balance {
    font-size: 20px;
    font-weight: 800;
    background: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}
